#!/usr/bin/make -f
# -*- makefile -*-

# Build script for udm-kernel-tools.
#
# Copyright (C) 2023 Fabian Mastenbroek.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

include /usr/share/dpkg/default.mk
include /usr/share/dpkg/architecture.mk

export GITHUB_TOKEN

# Cross compilation settings
export ARCH=${DEB_TARGET_ARCH}
export CROSS_COMPILE=${DEB_TARGET_MULTIARCH}-

BUILD_DIR ?= build
IPV6TUNNEL_MOD_SRC ?= ipv6-mod

# The UDM versions to support for the build
UDM_VERSIONS ?= 3.0.20

%:
	dh $@

${BUILD_DIR}/modules/v%:
	$(MAKE) -f debian/rules.d/ip6_tunnel-mod.mk UDM_VERSION=$*

override_dh_auto_build: | ${IPV6TUNNEL_MOD_SRC} $(addprefix ${BUILD_DIR}/modules/v, ${UDM_VERSIONS})

override_dh_shlibdeps:

override_dh_installsystemd:
	dh_installsystemd --name=udm-autoboot --no-enable

override_dh_clean:
	dh_clean
	rm -rf ${BUILD_DIR}
